@model IEnumerable<ConsoleApp1.airquality>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>airquality list</h1>

<a href="/airquality/Create">新增</a>

<form action="/airquality/Search" method="post">
    <label>Keyword:</label><br>
    <input type="text" 
           id="Keyword" name="Keyword" 
           value="@ViewBag.SearchParams.Keyword"
           placeholder="請輸入您要查詢的地區">
    <input type="submit" value="查詢"/>
</form>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>SiteName</th>
            <th>County</th>
            <th>AQI</th>
            <th>STATUS</th>
            <th>POLLUTANT</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
        <tr>
            <td>@item.Id</td>
            <td>@item.County</td>
            <td>@item.SiteName</td>
            <td>@item.AQI</td>
            <td>@item.Status</td>
            <td>@item.Pollutant</td>
            <td>
                <form asp-action="Edit">
                    <input name="id" />

                    <input type="submit" value="Send" />
                </form>
                    <a href="/aiquality/Edit/@item.Id">Edit</a>
            </td>

            <td><a id="delBtn" href="/airquality/Delete/@item.Id">Delete</a></td>

        </tr>
            }
        }


    </tbody>
    <tfoot></tfoot>

</table>
@section scripts
{
    <script type="text/javascript">
        $(function (x) {
            $('delBtn').on('click', (e) => {
                return confirm('are you sure?')
            });
            //      alert('OK')
        });
    </script>
}
@{ }
