@model IEnumerable<YC.Models.Question>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td id="id" style="display:none">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td id="seq">
                @Html.DisplayFor(modelItem => item.Seq)
            </td>
            <td id="text">
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td id="answer">
                @Html.DisplayFor(modelItem => item.Answer)
            </td>
            <td id="typeId">
                @Html.DisplayFor(modelItem => item.QuestionType.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a href="#" class="deleteButton" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
